body {
    background-color: #48466d;
    padding: 10px;
    margin-right:45%;
  }

button{
    background-color:#46cdcf;
    border: none;
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 16px;
  }

button:hover {
    background-color: #48466d;
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 20px 0 rgba(0,0,0,0.19);
  }

button:active {
    transform: translateY(4px);
  }

#numeros{
    float: left;
  }

#display{
    border-style: outset;
    font-size: 32px;
    padding: 10px 20px ;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #abedd8;
    text-align: right;
  }

div.calculadora{
    padding:2%;
    padding-bottom:12%;
    background-color: #3d84a8;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid #3d84a8;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
